<div class="table-responsive">
 <table class="table">
<tr>
<th>Name</th><th>SNR</th><th>Total Mass</th><th>Template</th><th>Data</th></tr>
<tr><td>GW150914</td><td>SNR:<br/>24.4</td><td>Total Mass:<br/>66.2 M<sub>&#9737;</sub></td> 
<td><a href="/static/audio/gwtc1/wav/GW150914-template.png" target="_blank"><img src="/static/audio/gwtc1/wav/GW150914-template.png" width="200px" /></a><br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/GW150914-template.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/GW150914-template.wav'>Audio</a>
</audio>
</td><td>H1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/H1-GW150914-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/H1-GW150914-data.wav'>Audio</a>
</audio>
<br/>L1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/L1-GW150914-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/L1-GW150914-data.wav'>Audio</a>
</audio>
<br/><br/><br/></td></tr>
<tr><td>GW151012</td><td>SNR:<br/>10.0</td><td>Total Mass:<br/>36.9 M<sub>&#9737;</sub></td> 
<td><a href="/static/audio/gwtc1/wav/GW151012-template.png" target="_blank"><img src="/static/audio/gwtc1/wav/GW151012-template.png" width="200px" /></a><br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/GW151012-template.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/GW151012-template.wav'>Audio</a>
</audio>
</td><td>H1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/H1-GW151012-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/H1-GW151012-data.wav'>Audio</a>
</audio>
<br/>L1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/L1-GW151012-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/L1-GW151012-data.wav'>Audio</a>
</audio>
<br/><br/><br/></td></tr>
<tr><td>GW151226</td><td>SNR:<br/>13.1</td><td>Total Mass:<br/>21.4 M<sub>&#9737;</sub></td> 
<td><a href="/static/audio/gwtc1/wav/GW151226-template.png" target="_blank"><img src="/static/audio/gwtc1/wav/GW151226-template.png" width="200px" /></a><br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/GW151226-template.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/GW151226-template.wav'>Audio</a>
</audio>
</td><td>H1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/H1-GW151226-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/H1-GW151226-data.wav'>Audio</a>
</audio>
<br/>L1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/L1-GW151226-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/L1-GW151226-data.wav'>Audio</a>
</audio>
<br/><br/><br/></td></tr>
<tr><td>GW170104</td><td>SNR:<br/>13.0</td><td>Total Mass:<br/>51.1 M<sub>&#9737;</sub></td> 
<td><a href="/static/audio/gwtc1/wav/GW170104-template.png" target="_blank"><img src="/static/audio/gwtc1/wav/GW170104-template.png" width="200px" /></a><br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/GW170104-template.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/GW170104-template.wav'>Audio</a>
</audio>
</td><td>H1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/H1-GW170104-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/H1-GW170104-data.wav'>Audio</a>
</audio>
<br/>L1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/L1-GW170104-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/L1-GW170104-data.wav'>Audio</a>
</audio>
<br/><br/><br/></td></tr>
<tr><td>GW170608</td><td>SNR:<br/>14.9</td><td>Total Mass:<br/>18.5 M<sub>&#9737;</sub></td> 
<td><a href="/static/audio/gwtc1/wav/GW170608-template.png" target="_blank"><img src="/static/audio/gwtc1/wav/GW170608-template.png" width="200px" /></a><br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/GW170608-template.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/GW170608-template.wav'>Audio</a>
</audio>
</td><td>H1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/H1-GW170608-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/H1-GW170608-data.wav'>Audio</a>
</audio>
<br/>L1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/L1-GW170608-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/L1-GW170608-data.wav'>Audio</a>
</audio>
<br/><br/><br/></td></tr>
<tr><td>GW170729</td><td>SNR:<br/>10.8</td><td>Total Mass:<br/>84.9 M<sub>&#9737;</sub></td> 
<td><a href="/static/audio/gwtc1/wav/GW170729-template.png" target="_blank"><img src="/static/audio/gwtc1/wav/GW170729-template.png" width="200px" /></a><br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/GW170729-template.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/GW170729-template.wav'>Audio</a>
</audio>
</td><td>H1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/H1-GW170729-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/H1-GW170729-data.wav'>Audio</a>
</audio>
<br/>L1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/L1-GW170729-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/L1-GW170729-data.wav'>Audio</a>
</audio>
<br/>V1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/V1-GW170729-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/V1-GW170729-data.wav'>Audio</a>
</audio>
<br/><br/><br/></td></tr>
<tr><td>GW170809</td><td>SNR:<br/>12.4</td><td>Total Mass:<br/>59.0 M<sub>&#9737;</sub></td> 
<td><a href="/static/audio/gwtc1/wav/GW170809-template.png" target="_blank"><img src="/static/audio/gwtc1/wav/GW170809-template.png" width="200px" /></a><br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/GW170809-template.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/GW170809-template.wav'>Audio</a>
</audio>
</td><td>H1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/H1-GW170809-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/H1-GW170809-data.wav'>Audio</a>
</audio>
<br/>L1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/L1-GW170809-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/L1-GW170809-data.wav'>Audio</a>
</audio>
<br/>V1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/V1-GW170809-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/V1-GW170809-data.wav'>Audio</a>
</audio>
<br/><br/><br/></td></tr>
<tr><td>GW170814</td><td>SNR:<br/>15.9</td><td>Total Mass:<br/>56.0 M<sub>&#9737;</sub></td> 
<td><a href="/static/audio/gwtc1/wav/GW170814-template.png" target="_blank"><img src="/static/audio/gwtc1/wav/GW170814-template.png" width="200px" /></a><br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/GW170814-template.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/GW170814-template.wav'>Audio</a>
</audio>
</td><td>H1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/H1-GW170814-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/H1-GW170814-data.wav'>Audio</a>
</audio>
<br/>L1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/L1-GW170814-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/L1-GW170814-data.wav'>Audio</a>
</audio>
<br/>V1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/V1-GW170814-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/V1-GW170814-data.wav'>Audio</a>
</audio>
<br/><br/><br/></td></tr>
<tr><td>GW170817</td><td>SNR:<br/>33.0</td><td>Total Mass:<br/>2.73 M<sub>&#9737;</sub></td> 
<td><a href="/static/audio/gwtc1/wav/GW170817-template.png" target="_blank"><img src="/static/audio/gwtc1/wav/GW170817-template.png" width="200px" /></a><br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/GW170817-template.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/GW170817-template.wav'>Audio</a>
</audio>
</td><td>H1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/H1-GW170817-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/H1-GW170817-data.wav'>Audio</a>
</audio>
<br/>L1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/L1-GW170817-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/L1-GW170817-data.wav'>Audio</a>
</audio>
<br/>V1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/V1-GW170817-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/V1-GW170817-data.wav'>Audio</a>
</audio>
<br/>G1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/G1-GW170817-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/G1-GW170817-data.wav'>Audio</a>
</audio>
<br/><br/><br/></td></tr>
<tr><td>GW170818</td><td>SNR:<br/>11.3</td><td>Total Mass:<br/>62.3 M<sub>&#9737;</sub></td> 
<td><a href="/static/audio/gwtc1/wav/GW170818-template.png" target="_blank"><img src="/static/audio/gwtc1/wav/GW170818-template.png" width="200px" /></a><br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/GW170818-template.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/GW170818-template.wav'>Audio</a>
</audio>
</td><td>H1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/H1-GW170818-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/H1-GW170818-data.wav'>Audio</a>
</audio>
<br/>L1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/L1-GW170818-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/L1-GW170818-data.wav'>Audio</a>
</audio>
<br/>V1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/V1-GW170818-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/V1-GW170818-data.wav'>Audio</a>
</audio>
<br/><br/><br/></td></tr>
<tr><td>GW170823</td><td>SNR:<br/>11.5</td><td>Total Mass:<br/>69.0 M<sub>&#9737;</sub></td> 
<td><a href="/static/audio/gwtc1/wav/GW170823-template.png" target="_blank"><img src="/static/audio/gwtc1/wav/GW170823-template.png" width="200px" /></a><br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/GW170823-template.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/GW170823-template.wav'>Audio</a>
</audio>
</td><td>H1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/H1-GW170823-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/H1-GW170823-data.wav'>Audio</a>
</audio>
<br/>L1<br/>
<audio controls style='width:200px'>
  <source src='/static/audio/gwtc1/wav/L1-GW170823-data.wav' type="audio/wav">
  <a href='/static/audio/gwtc1/wav/L1-GW170823-data.wav'>Audio</a>
</audio>
<br/><br/><br/></td></tr>
</table></div>